body, html{
    height: 100%!important;
}
#root{
    width: 100%;
    height: 100%
}
.login-page{
    width: 100%;
    height: 100%;
}
.login-box, .register-box{
    margin: 0% auto;
}
.login-logo{
    padding-top: 7%;
}
.hold-transition{
    height: 100%;
}
.error{
    color: red;
    margin-top: 5px
}
.btn-table-admin{
    margin-right: 10px
}